**/bin
**/obj
**/.vs
**/.git
**/.gitignore
**/README.md
**/*.md
**/*.sln.user
**/docker-compose.yml
**/Dockerfile
**/.dockerignore
**/init-scripts
**/.idea
**/.vscode
**/Dockerfile.*
**/docker-compose*.yml
**/docker-compose.*.yml
**/.dockerignore
**/docker-compose.override.yml
**/publish